target
ideatarget
.target
bin
.cache
.cache-main
.cache-tests
.classpath
.project
.tmpBin
.factorypath
.settings
logs
.idea
*.iml
view/src/main/webapp/.npmignore
view/src/main/webapp/README.md
view/src/main/webapp/node_modules/
view/src/main/webapp/package-lock.json
view/src/main/webapp/platforms/
view/src/main/webapp/plugins/
view/src/main/webapp/res/
view/src/main/webapp/server.js
view/src/main/webapp/www/