target
ideatarget
.target
bin
.cache
.cache-main
.cache-tests
.classpath
.project
.tmpBin
.factorypath
.settings
logs
.idea
*.iml
client/src/main/webapp/.npmignore
client/src/main/webapp/README.md
client/src/main/webapp/node_modules/
client/src/main/webapp/package-lock.json
client/src/main/webapp/platforms/
client/src/main/webapp/plugins/
client/src/main/webapp/res/
client/src/main/webapp/server.js
client/src/main/webapp/www/